<!DOCTYPE html>

<html lang="ru">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>КиноПредсказатель</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;family=Montserrat:wght@400;700&amp;display=swap" rel="stylesheet"/>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>
<body>
<div class="container">
<header>
<div class="logo">
<h1><span style="color: var(--accent-red);">Кино</span>Предсказатель</h1>
</div>
<p class="tagline">Ваш личный оракул в мире кинопремьер</p>
</header>
<main>
<div class="prediction-form">
<h2>Узнайте судьбу будущего хита</h2>
<form id="movie-form">
<div class="form-group">
<label for="title">Название фильма <span style="color: var(--accent-red);">*</span></label>
<input id="title" name="title" placeholder="Введите название" required="" type="text"/>
</div>
<div class="form-group">
<label>Жанры <span style="color: var(--accent-red);">*</span></label>
<div class="genre-checkboxes">
<div class="genre-checkbox-item">
<input id="genre-action" name="genres" type="checkbox" value="action"/>
<label for="genre-action">Боевик</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-comedy" name="genres" type="checkbox" value="comedy"/>
<label for="genre-comedy">Комедия</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-drama" name="genres" type="checkbox" value="drama"/>
<label for="genre-drama">Драма</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-horror" name="genres" type="checkbox" value="horror"/>
<label for="genre-horror">Ужасы</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-science_fiction" name="genres" type="checkbox" value="science_fiction"/>
<label for="genre-science_fiction">Фантастика</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-thriller" name="genres" type="checkbox" value="thriller"/>
<label for="genre-thriller">Триллер</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-romance" name="genres" type="checkbox" value="romance"/>
<label for="genre-romance">Мелодрама</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-animation" name="genres" type="checkbox" value="animation"/>
<label for="genre-animation">Мультфильм</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-adventure" name="genres" type="checkbox" value="adventure"/>
<label for="genre-adventure">Приключения</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-fantasy" name="genres" type="checkbox" value="fantasy"/>
<label for="genre-fantasy">Фэнтези</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-family" name="genres" type="checkbox" value="family"/>
<label for="genre-family">Семейный</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-crime" name="genres" type="checkbox" value="crime"/>
<label for="genre-crime">Преступники</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-mystery" name="genres" type="checkbox" value="mystery"/>
<label for="genre-mystery">Мистика</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-history" name="genres" type="checkbox" value="history"/>
<label for="genre-history">Исторический</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-war" name="genres" type="checkbox" value="war"/>
<label for="genre-war">Военный</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-documentary" name="genres" type="checkbox" value="documentary"/>
<label for="genre-documentary">Документальный</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-music" name="genres" type="checkbox" value="music"/>
<label for="genre-music">Музыкальный</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-western" name="genres" type="checkbox" value="western"/>
<label for="genre-western">Вестерн</label>
</div>
<div class="genre-checkbox-item">
<input id="genre-tv_movie" name="genres" type="checkbox" value="tv_movie"/>
<label for="genre-tv_movie">ТВ-Фильм</label>
</div>
</div>
<div id="genres-error" style="color: var(--accent-red); display: none;">Выберите хотя бы один жанр</div>
</div>
<div class="form-group">
<label for="original-language">Оригинальный язык <span style="color: var(--accent-red);">*</span></label>
<select id="original-language" name="original_language" required="">
<option value="">Выберите язык</option>
<option value=" English">Английский</option>
<option value=" Spanish, Castilian">Испанский</option>
<option value=" Norwegian">Норвежский</option>
<option value=" Japanese">Японский</option>
<option value=" Korean">Корейский</option>
<option value=" Russian">Русский</option>
<option value=" Cantonese">Кантонский</option>
<option value=" Ukrainian">Украинский</option>
<option value=" Italian">Итальянский</option>
<option value=" German">Немецкий</option>
<option value=" French">Французский</option>
<option value=" Finnish">Финский</option>
<option value=" Catalan, Valencian">Каталанский</option>
<option value=" Icelandic">Исландский</option>
<option value=" Indonesian">Индонезийский</option>
<option value=" Dutch, Flemish">Голландский</option>
<option value=" Portuguese">Португальский</option>
<option value=" Telugu">Телугу</option>
<option value=" Polish">Польский</option>
<option value=" Danish">Датский</option>
<option value=" Turkish">Турецкий</option>
<option value=" Chinese">Китайский</option>
<option value=" Thai">Тайский</option>
<option value=" Romanian">Румынский</option>
<option value=" Tagalog">Тагальский</option>
<option value=" Macedonian">Македонский</option>
<option value=" Swedish">Шведский</option>
<option value=" Tamil">Тамильский</option>
<option value=" Vietnamese">Вьетнамский</option>
<option value=" Hindi">Хинди</option>
<option value=" Arabic">Арабский</option>
<option value=" Serbian">Сербский</option>
<option value=" Galician">Галисийский</option>
<option value=" Greek">Греческий</option>
<option value=" Hungarian">Венгерский</option>
<option value=" Malayalam">Малаялам</option>
<option value=" Oriya">Ория</option>
<option value=" Persian">Персидский</option>
<option value=" Bengali">Бенгальский</option>
<option value=" Bokmål, Norwegian, Norwegian Bokmål">Норвежский (букмол)</option>
<option value=" Latvian">Латышский</option>
<option value=" Basque">Баскский</option>
<option value=" Malay">Малайский</option>
<option value=" Central Khmer">Кхмерский</option>
<option value=" Irish">Ирландский</option>
<option value=" Czech">Чешский</option>
<option value=" Gujarati">Гуджарати</option>
<option value=" Kannada">Каннада</option>
<option value=" Serbo-Croatian">Сербохорватский</option>
<option value=" Latin">Латынь</option>
<option value=" Dzongkha">Дзонг-кэ</option>
<option value=" No Language">Без языка</option>
<option value=" Slovak">Словацкий</option>
</select>
</div>
<div class="form-group">
<label for="budget-range">Бюджет фильма:</label>
<div class="d-flex align-items-center">
<input class="form-control-range mr-3" id="budget-range" max="300000000" min="0" step="10000" style="flex: 1;" type="range" value="30000000"/>
<div class="input-group" style="width: 200px;">
<div class="input-group-prepend">
<span class="input-group-text">$</span>
</div>
<input class="form-control" id="budget-input" max="300000000" min="1000000" type="number" value="30000000"/>
</div>
</div>
<div class="d-flex justify-content-between mt-1">
</div>
<p class="mt-2" id="budget-category">Категория: Средний бюджет</p>
</div>
<div class="form-group">
<label for="country">Страна производства <span style="color: var(--accent-red);">*</span></label>
<select id="country" name="country" required="">
<option value="">Выберите страну</option>
<option data-image="https://flagcdn.com/w40/au.png" value="AU">Австралия</option>
<option data-image="https://flagcdn.com/w40/us.png" value="US">США</option>
<option data-image="https://flagcdn.com/w40/mx.png" value="MX">Мексика</option>
<option data-image="https://flagcdn.com/w40/gb.png" value="GB">Великобритания</option>
<option data-image="https://flagcdn.com/w40/cl.png" value="CL">Чили</option>
<option data-image="https://flagcdn.com/w40/no.png" value="NO">Норвегия</option>
<option data-image="https://flagcdn.com/w40/es.png" value="ES">Испания</option>
<option data-image="https://flagcdn.com/w40/ar.png" value="AR">Аргентина</option>
<option data-image="https://flagcdn.com/w40/kr.png" value="KR">Южная Корея</option>
<option data-image="https://flagcdn.com/w40/hk.png" value="HK">Гонконг</option>
<option data-image="https://flagcdn.com/w40/ua.png" value="UA">Украина</option>
<option data-image="https://flagcdn.com/w40/it.png" value="IT">Италия</option>
<option data-image="https://flagcdn.com/w40/ru.png" value="RU">Россия</option>
<option data-image="https://flagcdn.com/w40/co.png" value="CO">Колумбия</option>
<option data-image="https://flagcdn.com/w40/de.png" value="DE">Германия</option>
<option data-image="https://flagcdn.com/w40/jp.png" value="JP">Япония</option>
<option data-image="https://flagcdn.com/w40/fr.png" value="FR">Франция</option>
<option data-image="https://flagcdn.com/w40/fi.png" value="FI">Финляндия</option>
<option data-image="https://flagcdn.com/w40/is.png" value="IS">Исландия</option>
<option data-image="https://flagcdn.com/w40/id.png" value="ID">Индонезия</option>
<option data-image="https://flagcdn.com/w40/br.png" value="BR">Бразилия</option>
<option data-image="https://flagcdn.com/w40/be.png" value="BE">Бельгия</option>
<option data-image="https://flagcdn.com/w40/dk.png" value="DK">Дания</option>
<option data-image="https://flagcdn.com/w40/tr.png" value="TR">Турция</option>
<option data-image="https://flagcdn.com/w40/th.png" value="TH">Таиланд</option>
<option data-image="https://flagcdn.com/w40/pl.png" value="PL">Польша</option>
<option data-image="https://flagcdn.com/w40/gt.png" value="GT">Гватемала</option>
<option data-image="https://flagcdn.com/w40/cn.png" value="CN">Китай</option>
<option data-image="https://flagcdn.com/w40/cz.png" value="CZ">Чехия</option>
<option data-image="https://flagcdn.com/w40/ph.png" value="PH">Филиппины</option>
<option data-image="https://flagcdn.com/w40/za.png" value="ZA">Южная Африка</option>
<option data-image="https://flagcdn.com/w40/ca.png" value="CA">Канада</option>
<option data-image="https://flagcdn.com/w40/nl.png" value="NL">Нидерланды</option>
<option data-image="https://flagcdn.com/w40/tw.png" value="TW">Тайвань</option>
<option data-image="https://flagcdn.com/w40/pr.png" value="PR">Пуэрто-Рико</option>
<option data-image="https://flagcdn.com/w40/in.png" value="IN">Индия</option>
<option data-image="https://flagcdn.com/w40/ie.png" value="IE">Ирландия</option>
<option data-image="https://flagcdn.com/w40/sg.png" value="SG">Сингапур</option>
<option data-image="https://flagcdn.com/w40/pe.png" value="PE">Перу</option>
<option data-image="https://flagcdn.com/w40/ch.png" value="CH">Швейцария</option>
<option data-image="https://flagcdn.com/w40/se.png" value="SE">Швеция</option>
<option data-image="https://flagcdn.com/w40/il.png" value="IL">Израиль</option>
<option data-image="https://flagcdn.com/w40/do.png" value="DO">Доминикана</option>
<option data-image="https://flagcdn.com/w40/vn.png" value="VN">Вьетнам</option>
<option data-image="https://flagcdn.com/w40/gr.png" value="GR">Греция</option>
<option value="SU">СССР</option>
<option data-image="https://flagcdn.com/w40/hu.png" value="HU">Венгрия</option>
<option data-image="https://flagcdn.com/w40/bo.png" value="BO">Боливия</option>
<option data-image="https://flagcdn.com/w40/sk.png" value="SK">Словакия</option>
<option data-image="https://flagcdn.com/w40/uy.png" value="UY">Уругвай</option>
<option data-image="https://flagcdn.com/w40/by.png" value="BY">Беларусь</option>
<option data-image="https://flagcdn.com/w40/at.png" value="AT">Австрия</option>
<option data-image="https://flagcdn.com/w40/py.png" value="PY">Парагвай</option>
<option data-image="https://flagcdn.com/w40/my.png" value="MY">Малайзия</option>
<option data-image="https://flagcdn.com/w40/mu.png" value="MU">Маврикий</option>
<option data-image="https://flagcdn.com/w40/lv.png" value="LV">Латвия</option>
<option value="XC">Европа (прочее)</option>
<option data-image="https://flagcdn.com/w40/kh.png" value="KH">Камбоджа</option>
<option data-image="https://flagcdn.com/w40/ir.png" value="IR">Иран</option>
</select>
</div>
<button class="predict-button" type="submit">Запустить предсказание <svg fill="none" height="20" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="20"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg></button>
</form>
</div>
<div class="prediction-result" id="result-container">
<h2>Результат <svg fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></h2>
<div class="result-empty" id="result-empty">
<p>Заполните форму и нажмите кнопку, чтобы узнать предсказанную оценку фильма.</p>
</div>
<div class="result-content" id="result-content" style="display: none;">
<div class="movie-summary">
<h3 id="result-title">Название фильма</h3>
<p>Жанры: <span id="result-genres"></span></p>
<p>Страна производства: <span id="result-country"></span></p>
</div>
<div class="rating-container">
<div class="rating">
<span id="prediction-value">0.0</span>
</div>
<p class="rating-label">Предсказанный рейтинг</p>
<p class="better-than"> Это лучше чем у <span id="percentage"></span>% фильмов! </p>
</div>
<div class="rating-details">
<div class="rating-bar-container">
<div class="rating-bar" id="rating-bar"></div>
</div>
</div>
</div>
<div class="loading" id="loading" style="display: none;">
<div class="spinner"></div>
<p>Магия кино в процессе... Ожидайте!</p>
</div>
</div>
</main>
<footer>
<p>© 2025 <span style="color: var(--accent-red);">Кино</span>Предсказатель | Дипломный проект с любовью к кино</p>
</footer>
</div>


<script src="script.js"></script></body>
</html>